<div class="card">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="A happy customer" />
    </div>
    <blockquote class="quote">
      <p class="quote__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem autem
        tempore veritatis repudiandae inventore pariatur dolor obcaecati ipsum
        id laborum?
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--secondary">
              <use xlink:href="images/sprite.svg#bg-pattern-circles"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Barbara Sanders</h3>
            <p class="quote__organization">Design Company</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
